<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Agenda web</title>
    </head>

    <body>
    
        <table> 
           <thead>
               <tr>
                  <th>Id</th>
                  <th>Nome</th>
                  <th>Email</th>
                  <th>Editar</th>
                  <th>Excluir</th>
               </tr>
           </thead> 
             
           <tbody>
               <tr th:each="usuarios: ${lista}"> 
                 <td th:text="*{usuarios.id}" />
                 <td th:text="*{usuarios.nome}" />
                 <td th:text="*{usuarios.email}" />
                 <td> <a th:href="@{'/usuarios/consulta/'+${usuarios.id}}">Editar</a></td>
                 <td> <a th:href="@{'/usuarios/excluir/'+${usuarios.id}}">Excluir</a></td>
               </tr>
           </tbody>
        </table>  
           
    </body>
    
</html>